<div class="position-relative">
  <div class="topimage w-100 d-flex">
    <h2 class="toptitle m-auto">MATCH</h2>
  </div>
  <div class="sticky" style="margin: 0 auto">
    <div class="d-flex justify-content-center pt-3">
      <div class="d-flex justify-content-around mb-3" style="width: 375px;">
        <div>
          <div class=" d-flex pt-2">
            <h3 class="typos">Matchs pronostiqués</h3>
            <h3 class="typos pts" style="font-weight: bold; padding-left: 5px;"><%= current_user.forecasts.where(confirmed: true, season_id: Season.last.id).count %>/40   +</h3>
            <h3 class="plus typopo" style="margin-bottom: 8px;"></h3>
          </div>
        </div>
        <div id = "panier">
          <button type="button" class="btn btn-outline-light typomatch" data-toggle="modal" data-target="#exampleModal">Valider changement</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="float-right p-2">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-header">
                  <h2 class="stat m-auto ">Tu as validé tes changements!</h2>
                </div>
                <div class="modal-body" style="z-index: 100;">
                  <p class="typopo">Retrouve tes pronos' sur la page championnat !</p>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" class="rejoins typopo"><%= link_to 'Checker mes pronos', season_path(current_user)%></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="info">
      <div class="d-flex justify-content-between flex-row m-3">
        <h3 class="typopo d-flex justify-content-center">DOMICILE</h3>
        <h3 class="typopo d-flex justify-content-center">PRONO</h3>
        <h3 class="typopo d-flex justify-content-center">EXTERIEUR</h3>
      </div>
      <% @forecasts.sort_by{|v| v.match.kick_off}.each do |forecast| %>
        <% if Time.parse(forecast.match.kick_off) > Time.now %>
          <div class="d-flex justify-content-center mb-2 mt-2">
            <h4 class="typopo"><%= forecast.match.league %></h4>
          </div>
          <div class="d-flex justify-content-center mb-2 mt-2">
            <h3 class="tit"><%= DateTime.parse(forecast.match.kick_off).to_date%></h3><h3 class="typopo pl-2">-</h3>
            <h3 class="typopo pl-2"><%= forecast.match.kick_off.to_s.gsub("T", " ").split[1].gsub("+", " ").split[0]%></h3>
          </div>
          <div class="d-flex flex-row justify-content-around mb-4 mt-4" data-id="<%= forecast.id %>">
            <div class="d-flex flex-column align-items-center col-4">
              <div class="row">
                <h3 class="typopo"><%= image_tag "#{forecast.match.team_home_logo_url}", width: 50, alt: "Équipe à domicile" %></h3>
              </div>
              <div class="row text-align-center">
                <h3 class="tit"><%= forecast.match.team_home %></h3>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center">
              <p class="typopo text-center">VS</p>
              <div class="d-flex flex-row align-items-center col-4">
                <div class="displaysquares" data-id="<%= forecast.id %>">
                  <input type="checkbox" class="square" onclick="updateCount()" data-outcome="1"></input>
                  <input type="checkbox" class="square" onclick="updateCount()" data-outcome="NULL"></input>
                  <input type="checkbox" class="square" onclick="updateCount()" data-outcome="2"></input>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column align-items-center text-align-center col-4 ">
              <h3 class="typopo"><%= image_tag "#{forecast.match.team_away_logo_url}", width: 50, alt: "Équipe à l'extérieur" %></h3>
              <h3 class="tit"><%= forecast.match.team_away  %></h3>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/navbarbottom" %>
