<div class="position-relative">
  <div class="topimagechampionship w-100 d-flex mb-3">
    <h2 class="toptitle m-auto">CHAMPIONNAT</h2>
  </div>

  <div class="d-flex justify-content-center mt-2 mb-2">
    <div class="info  d-flex  flex-column">
      <div class=" d-flex justify-content-around mt-4" style=" padding: 0 20%;">

        <svg class="logoplayer " width="48.491" height="56.522" viewBox="0 0 48.491 56.522"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M3644.079,301.329V285.165a1.941,1.941,0,0,0-1.415-1.818l-22.225-8.082a1.725,1.725,0,0,0-1.414,0l-22.225,8.082a2.046,2.046,0,0,0-1.212,1.818v16.164c0,16.77,8.89,21.821,21.013,28.892l2.223,1.213a2.634,2.634,0,0,0,2.021,0l2.222-1.213C3635.189,323.149,3644.079,318.1,3644.079,301.329Zm-23.033,25.255-1.213.606V279.305l20.2,7.274v14.75C3640.038,315.673,3632.967,319.714,3621.046,326.584Z" transform="translate(-3595.588 -275.113)"/></svg>
        <div>
          <h3 class="typo"><%= current_user.pseudo %></h3>
          <h3 class="typo circle">10e</h3>
          <h3 class="typo mt-2">Division: <%= @championship[0].name %></h3>
        </div>
      </div>
      <svg class=" center-block mx-auto mt-1" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
      <div class="container mt-3" style=" padding: 0 20%;"  >
        <div class="d-flex justify-content-between">
          <h3 class="typo mr-3">MATCHS</h3>
          <h3 class="typo"><%= current_user.forecasts.where(confirmed: true, season_id: Season.last.id).count %>/50</h3>
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="typo mr-3">RATIO</h3>
          <% if  current_user.forecasts.where(confirmed: true, season_id: Season.last.id).count == 0%>
          <h3 class="typo">0%</h3>
          <% else %>
          <% ratio = current_user.forecasts.select{|v| v.points_win.positive?}.count/current_user.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100 %>
          <h3 class="typo"><%= ratio.round %>%</h3>
          <% end %>
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="typo mr-3">POINTS REMPORTÉS</h3>
          <h3 class="typo"><%= @playerseason[0].number_of_points %></h3>
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="typo mr-3">POINTS FOOTBALL</h3>
          <% points = 0 %>
          <% current_user.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
            <% if forecast.match.sport == "football" %>
              <% points += (forecast.points_win + forecast.points_lose) %>
            <% else %>
            <% end %>
          <% end %>
          <h3 class="typo"><%= points %></h3>
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="typo mr-3">POINTS BASKETBALL</h3>
          <% pointsb = 0 %>
          <% current_user.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
            <% if forecast.match.sport == "basketball" %>
              <% pointsb += (forecast.points_win + forecast.points_lose) %>
            <% else %>
            <% end %>
          <% end %>
          <h3 class="typo"><%= pointsb %></h3>
        </div>
      </div>
      <svg class=" center-block mx-auto mt-2" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
      <div class="btn-ranking d-flex justify-content-center">
        <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-outline-light btnbis typo">Voir le classement</button>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CLASSEMENT</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column m-auto mt-4">
            <table class="table table-borderless mb-4">
              <thead>
                <tr>
                  <th scope="col">POS</th>
                  <th scope="col">NOM</th>
                  <th scope="col">MATCHS</th>
                  <th scope="col">RATIO</th>
                  <th scope="col">PTS</th>
                </tr>
              </thead>
              <% classement = {} %>
              <% x = 0 %>
              <% @playerseasons.each do |playerseason| %>
                <% classement[playerseason] = playerseason.number_of_points %>
                <% end %>
                <% classement.to_a.sort_by {|k,v| v}.reverse.each do |playerseason, valeur| %>
                  <tbody>
                    <% if current_user.id == playerseason.user_id%>
                    <tr>
                      <th class="cla" scope="row"><%= x += 1%></th>
                      <td class="cla" ><%=  current_user.pseudo %></td>
                      <td class="cla" ><%=  playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive? || v.points_lose.negative? }.count %></td>
                      <td class="cla" ><%=  playerseason.ratio %></td>
                      <td class="cla" ><%=  valeur %></td>
                    </tr>
                    <% elsif playerseason.forecasts.exists? %>
                    <tr>
                      <th scope="row"><%= x += 1%></th>
                      <td><%=  playerseason.user.pseudo %></td>
                      <td><%=  playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive? || v.points_lose.negative?}.count %></td>
                      <td><%=  playerseason.ratio %></td>
                      <td><%=  valeur %></td>
                    </tr>
                    <% else %>

                  </tbody>
                    <% end %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-center pb-5">
    <div class="info">
      <h2 class="typopo m-auto pb-4 pt-4">MES PRONOSTICS</h2>
      <div class="d-flex justify-content-between flex-row m-3">
        <h3 class="typopo d-flex justify-content-center">DOMICILE</h3>
        <h3 class="typopo d-flex justify-content-center">PRONO</h3>
        <h3 class="typopo d-flex justify-content-center">EXTERIEUR</h3>
      </div>
      <input type="hidden" id ="season_player" value="<%= @player %>">
      <% current_user.forecasts.where(confirmed: true).each do |forecast| %>
        <% if forecast.season_id == @season.id %>
          <div class="d-flex justify-content-center mb-4 mt-4">


          </div>
          <div class="d-flex flex-row justify-content-around mb-4 mt-4" >
            <div class="d-flex flex-column align-items-center col-4">
              <div class="row">
                <h3 class="typopo"><%= image_tag "#{forecast.match.team_home_logo_url}", width: 50 %></h3>
              </div>
              <div class="row text-align-center">
                <h3 class="typopo"><%= forecast.match.team_home %></h3>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center">
              <p class="typopo text-center"><%= forecast.outcome %></p>
              <% if  forecast.points_win.positive?%>
                <p class="typopo text-center text-success">+<%= forecast.points_win %>pts</p>
              <% elsif forecast.points_lose.negative?%>
                <p class="typopo text-center text-danger"><%= forecast.points_lose %>pts</p>
              <% else forecast.points_lose.zero? && forecast.points_lose.zero? %>
                <% if forecast.outcome == "1" %>
                  <p class="typopo text-success-center"><%= forecast.match.points_home.round %>pts</p>
                <% elsif forecast.outcome == "2"%>
                  <p class="typopo text-success-center"><%= forecast.match.points_away.round %>pts</p>
                <% else forecast.outcome == "NULL"%>
                  <p class="typopo text-success-center"><%= forecast.match.points_draw.round %>pts</p>
                <% end %>
              <% end %>
            </div>
            <div class="d-flex flex-column align-items-center text-align-center col-4 ">
              <h3 class="typopo"><%= image_tag "#{forecast.match.team_away_logo_url}", width: 50 %></h3>
              <h3 class="typopo"><%= forecast.match.team_away %></h3>
            </div>
          </div>
        <% else %>

        <% end %>

      <% end %>
    </div>
  </div>

  <%=  render "shared/navbarbottom" %>
</div>
