<div class="position-relative">
  <div class="topimagechampionship w-100 d-flex mb-3">
    <h2 class="toptitle m-auto">CHAMPIONNAT</h2>
  </div>

  <div class="d-flex justify-content-center mt-2 mb-2">
    <div class="info  d-flex  flex-column">
      <div class=" d-flex justify-content-around mt-4" style=" padding: 0 20%;">
        <div class="up">
          <div class="blason">
            <% if  current_user.player_seasons[0].blason.present?%>
              <%= link_to edit_player_season_path(current_user.player_seasons[0].id) do %>
                <%= cl_image_tag current_user.player_seasons[0].blason.split('<img src="').join("").split('/>').join("").split('"').join("")%>
              <% end %>
            <% else %>
              <%= link_to edit_player_season_path(current_user.player_seasons[0].id) do %>
                <i class="fas fa-plus-circle" style="color: #FBB03B;"></i>
              <% end %>
            <% end %>
          </div>
          <h3 class="typo">Pseudo: <%= current_user.pseudo %></h3>
          <div class="btn-ranking d-flex justify-content-center">
            <h3 class="typoleague mt-2" data-toggle="modal" data-target="#champModal" type="button">Division: <%= @championship[0].name %></h3>
          </div>
          <div class="modal fade" id="champModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Championnat</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="d-flex flex-column m-auto mt-4 text-white">
                    <p>Légende</p>
                    <p>Champion</p>
                    <p>Pro</p>
                    <p>Semi-Pro</p>
                    <p>Amateur</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>
      </div>
      <svg class=" center-block mx-auto mt-1" xmlns="https://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
      <div class="container mt-3" style=" padding: 0 20%;"  >
        <div class="d-flex justify-content-between">
          <h3 class="typo mr-3">MATCHS</h3>
          <h3 class="typo"><%= current_user.forecasts.where(confirmed: true, season_id: Season.last.id).count %>/40</h3>
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="typopo mr-3">RATIO</h3>
          <% if  current_user.forecasts.where(confirmed: true, season_id: Season.last.id).count == 0 || current_user.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count == 0%>
            <h3 class="typopo">0%</h3>
          <% else %>
            <% ratio = (current_user.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count/current_user.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100).round %>
            <h3 class="typopo"><%= ratio %>%</h3>
          <% end %>
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="typopo mr-3">POINTS REMPORTÉS</h3>
          <h3 class="typopo"><%= @playerseason[0].number_of_points %></h3>
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="typopo mr-3">POINTS FOOTBALL</h3>
          <% points = 0 %>
          <% current_user.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
            <% if forecast.match.sport == "football" %>
              <% points += (forecast.points_win + forecast.points_lose) %>
            <% else %>
            <% end %>
          <% end %>
          <h3 class="typopo"><%= points %></h3>
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="typopo mr-3">POINTS BASKETBALL</h3>
          <% pointsb = 0 %>
          <% current_user.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
            <% if forecast.match.sport == "basketball" %>
              <% pointsb += (forecast.points_win + forecast.points_lose) %>
            <% else %>
            <% end %>
          <% end %>
          <h3 class="typopo"><%= pointsb %></h3>
        </div>
      </div>
        <svg class=" center-block mx-auto mt-2" xmlns="https://www.w3.org/2000/svg" width="247.39" height="2" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
      <div class="container mt-3" style=" padding: 0 20%;"  >
        <div class="d-flex justify-content-between">
          <h3 class="typo mr-3">POINTS POTENTIELS</h3>
          <% pointp = 0 %>
          <% current_user.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win == 0 && v.points_lose == 0}.each do |forecast| %>
            <% if forecast.outcome == "1" %>
              <% pointp += forecast.match.points_home.round %>
            <% elsif forecast.outcome == "2" %>
              <% pointp += forecast.match.points_away.round %>
            <% elsif forecast.outcome == "NULL" %>
              <% pointp += forecast.match.points_draw.round %>
            <% end %>
          <% end %>
          <h3 class="typo"><%= pointp %></h3>
        </div>
      </div>
      <!-- <svg class=" center-block mx-auto mt-2" xmlns="https://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg> -->
      <div class="btn-ranking d-flex justify-content-center">
        <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-outline-light btnbis typo">Voir le classement</button>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CLASSEMENT</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column m-auto mt-4">
            <table class="table table-borderless mb-4">
              <thead>
                <tr>
                  <th scope="col">POS</th>
                  <th scope="col">EMBLÈME</th>
                  <th scope="col">NOM</th>
                  <th scope="col">MATCHS</th>
                  <th scope="col">PTS</th>
                </tr>
              </thead>
              <% classement = {} %>
              <% x = 0 %>
              <% @playerseasons.each do |playerseason| %>
                <% if playerseason.forecasts.where(season_id: Season.last.id).exists? %>
                  <% classement[playerseason] = playerseason.number_of_points %>
                <% else %>
                <% end %>
              <% end %>
                <% classement.to_a.sort_by {|k,v| v}.reverse.each do |playerseason, valeur| %>
                  <tbody>
                    <% if playerseason.championship.name == "Amateur" %>
                      <% if current_user.id == playerseason.user_id%>
                        <tr>
                          <th class="cla" scope="row"><%= x += 1 %></th>
                          <% if  current_user.player_seasons[0].blason.present? %>
                            <td class="cla" ><%= cl_image_tag current_user.player_seasons[0].blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "25px", height: "30px" %></td>
                            <td class="cla"><%= current_user.pseudo %> </td>
                          <% else %>
                            <td>
                              <%= link_to edit_player_season_path(current_user.player_seasons[0].id) do %>
                                <i class="fas fa-plus-circle" style="color: #FBB03B;"></i>
                              <% end %>
                            </td>
                            <td class="cla"><%=  current_user.pseudo %></td>
                          <% end %>
                          <%  pronosb = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive?}.count %>
                          <%  pronosm = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_lose.negative?}.count %>
                          <td class="cla"><%= pronosm + pronosb %></td>
                          <td class="cla"><%=  valeur %></td>
                        </tr>
                      <% elsif playerseason.forecasts.exists? && x == 0 || x == 2 || x == 3 || x == 4 || x == 5 %>
                        <tr class="monte">
                          <th scope="row"><%= x += 1 %></th>
                          <% if playerseason.blason == nil %>
                            <td>
                               <i class="fas fa-plus-circle" style="color: white;"></i>
                            </td>
                          <% else %>
                            <td><%= cl_image_tag playerseason.blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "27px", height: "32px" %>
                            </td>
                          <% end %>
                            <div class="dropdown">
                               <td class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <%=  playerseason.user.pseudo %>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <% if  playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).count == 0 || playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count == 0%>
                                  <p class="dropdown-item font-weight-bold">Ratio</p>
                                  <p class="dropdown-item font-weight-light">0%</p>
                                <% else %>
                                  <% ratio = (playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count/playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100).round %>
                                  <p class="dropdown-item font-weight-bold">Ratio</p>
                                  <p class="dropdown-item font-weight-light"><%= ratio %>%</p>
                                <% end %>
                                <% pointsf = 0 %>
                                <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                  <% if forecast.match.sport == "football" %>
                                    <% pointsf += (forecast.points_win + forecast.points_lose) %>
                                  <% end %>
                                <% end %>
                                <p class="dropdown-item font-weight-bold">Points Football</p>
                                <p class="dropdown-item font-weight-light"><%= pointsf %></p>
                                <% pointsba = 0 %>
                                <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                  <% if forecast.match.sport == "basketball"%>
                                    <%= pointsba += (forecast.points_win + forecast.points_lose) %>
                                  <% end %>
                                <% end %>
                                <p class="dropdown-item font-weight-bold">Points Basketball</p>
                                <p class="dropdown-item font-weight-light"><%= pointsba %></p>
                              </div>
                              </td>
                            </div>
                          <%  pronosg = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive?}.count %>
                          <%  pronosn = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_lose.negative?}.count %>
                          <td class="cla"><%= pronosg + pronosn %></td>
                          <td><%=  valeur %></td>
                        </tr>

                    <% else playerseason.forecasts.exists? %>
                      <tr>
                        <th scope="row"><%= x += 1 %></th>
                        <% if playerseason.blason == nil %>
                          <td>
                             <i class="fas fa-plus-circle" style="color: white;"></i>
                          </td>
                        <% else %>
                          <td><%= cl_image_tag playerseason.blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "27px", height: "32px" %>
                          </td>
                        <% end %>
                          <div class="dropdown">
                             <td class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%=  playerseason.user.pseudo %>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <% if  playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).count == 0 || playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count == 0%>
                                <p class="dropdown-item font-weight-bold">Ratio</p>
                                <p class="dropdown-item font-weight-light">0%</p>
                              <% else %>
                                <% ratio = (playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count/playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100).round %>
                                <p class="dropdown-item font-weight-bold">Ratio</p>
                                <p class="dropdown-item font-weight-light"><%= ratio %>%</p>
                              <% end %>
                              <% pointsf = 0 %>
                              <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                <% if forecast.match.sport == "football" %>
                                  <% pointsf += (forecast.points_win + forecast.points_lose) %>
                                <% end %>
                              <% end %>
                              <p class="dropdown-item font-weight-bold">Points Football</p>
                              <p class="dropdown-item font-weight-light"><%= pointsf %></p>
                              <% pointsba = 0 %>
                              <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                <% if forecast.match.sport == "basketball"%>
                                  <%= pointsba += (forecast.points_win + forecast.points_lose) %>
                                <% end %>
                              <% end %>
                              <p class="dropdown-item font-weight-bold">Points Basketball</p>
                              <p class="dropdown-item font-weight-light"><%= pointsba %></p>
                            </div>
                            </td>
                          </div>
                        <%  pronosg = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive?}.count %>
                        <%  pronosn = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_lose.negative?}.count %>
                        <td class="cla"><%= pronosg + pronosn %></td>
                        <td><%=  valeur %></td>
                      </tr>
                    <% end %>
                    <% elsif playerseason.championship.name == "Semi-Pro" %>
                    <% if current_user.id == playerseason.user_id%>
                        <tr>
                          <th class="cla" scope="row"><%= x += 1 %></th>
                          <% if  current_user.player_seasons[0].blason.present? %>
                            <td class="cla" ><%= cl_image_tag current_user.player_seasons[0].blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "25px", height: "30px" %></td>
                            <td class="cla"><%= current_user.pseudo %> </td>
                          <% else %>
                            <td>
                              <%= link_to edit_player_season_path(current_user.player_seasons[0].id) do %>
                                <i class="fas fa-plus-circle" style="color: #FBB03B;"></i>
                              <% end %>
                            </td>
                            <td class="cla"><%=  current_user.pseudo %></td>
                          <% end %>
                          <%  pronosb = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive?}.count %>
                          <%  pronosm = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_lose.negative?}.count %>
                          <td class="cla"><%= pronosm + pronosb %></td>
                          <td class="cla"><%=  valeur %></td>
                        </tr>
                      <% elsif playerseason.forecasts.exists? && x == 0 || x == 2 || x == 3 %>
                        <tr class="monte">
                          <th scope="row"><%= x += 1 %></th>
                          <% if playerseason.blason == nil %>
                            <td>
                               <i class="fas fa-plus-circle" style="color: white;"></i>
                            </td>
                          <% else %>
                            <td><%= cl_image_tag playerseason.blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "27px", height: "32px" %>
                            </td>
                          <% end %>
                            <div class="dropdown">
                               <td class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <%=  playerseason.user.pseudo %>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <% if  playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).count == 0 || playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count == 0%>
                                  <p class="dropdown-item font-weight-bold">Ratio</p>
                                  <p class="dropdown-item font-weight-light">0%</p>
                                <% else %>
                                  <% ratio = (playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count/playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100).round %>
                                  <p class="dropdown-item font-weight-bold">Ratio</p>
                                  <p class="dropdown-item font-weight-light"><%= ratio %>%</p>
                                <% end %>
                                <% pointsf = 0 %>
                                <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                  <% if forecast.match.sport == "football" %>
                                    <% pointsf += (forecast.points_win + forecast.points_lose) %>
                                  <% end %>
                                <% end %>
                                <p class="dropdown-item font-weight-bold">Points Football</p>
                                <p class="dropdown-item font-weight-light"><%= pointsf %></p>
                                <% pointsba = 0 %>
                                <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                  <% if forecast.match.sport == "basketball"%>
                                    <%= pointsba += (forecast.points_win + forecast.points_lose) %>
                                  <% end %>
                                <% end %>
                                <p class="dropdown-item font-weight-bold">Points Basketball</p>
                                <p class="dropdown-item font-weight-light"><%= pointsba %></p>
                              </div>
                              </td>
                            </div>
                          <%  pronosg = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive?}.count %>
                          <%  pronosn = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_lose.negative?}.count %>
                          <td class="cla"><%= pronosg + pronosn %></td>
                          <td><%=  valeur %></td>
                        </tr>
                        <% elsif playerseason.forecasts.exists? && x == 16 || x == 17 || x == 18 || x == 19 %>
                          <tr class="descente">
                            <th scope="row"><%= x += 1 %></th>
                            <% if playerseason.blason == nil %>
                              <td>
                                 <i class="fas fa-plus-circle" style="color: white;"></i>
                              </td>
                            <% else %>
                              <td><%= cl_image_tag playerseason.blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "27px", height: "32px" %>
                              </td>
                            <% end %>
                              <div class="dropdown">
                                 <td class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=  playerseason.user.pseudo %>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <% if  playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).count == 0 || playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count == 0%>
                                    <p class="dropdown-item font-weight-bold">Ratio</p>
                                    <p class="dropdown-item font-weight-light">0%</p>
                                  <% else %>
                                    <% ratio = (playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count/playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100).round %>
                                    <p class="dropdown-item font-weight-bold">Ratio</p>
                                    <p class="dropdown-item font-weight-light"><%= ratio %>%</p>
                                  <% end %>
                                  <% pointsf = 0 %>
                                  <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                    <% if forecast.match.sport == "football" %>
                                      <% pointsf += (forecast.points_win + forecast.points_lose) %>
                                    <% end %>
                                  <% end %>
                                  <p class="dropdown-item font-weight-bold">Points Football</p>
                                  <p class="dropdown-item font-weight-light"><%= pointsf %></p>
                                  <% pointsba = 0 %>
                                  <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                    <% if forecast.match.sport == "basketball"%>
                                      <%= pointsba += (forecast.points_win + forecast.points_lose) %>
                                    <% end %>
                                  <% end %>
                                  <p class="dropdown-item font-weight-bold">Points Basketball</p>
                                  <p class="dropdown-item font-weight-light"><%= pointsba %></p>
                                </div>
                                </td>
                              </div>
                            <%  pronosg = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive?}.count %>
                            <%  pronosn = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_lose.negative?}.count %>
                            <td class="cla"><%= pronosg + pronosn %></td>
                            <td><%=  valeur %></td>
                          </tr>

                    <% else playerseason.forecasts.exists? %>
                      <tr>
                        <th scope="row"><%= x += 1 %></th>
                        <% if playerseason.blason == nil %>
                          <td>
                             <i class="fas fa-plus-circle" style="color: white;"></i>
                          </td>
                        <% else %>
                          <td><%= cl_image_tag playerseason.blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "27px", height: "32px" %>
                          </td>
                        <% end %>
                          <div class="dropdown">
                             <td class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%=  playerseason.user.pseudo %>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <% if  playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).count == 0 || playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count == 0%>
                                <p class="dropdown-item font-weight-bold">Ratio</p>
                                <p class="dropdown-item font-weight-light">0%</p>
                              <% else %>
                                <% ratio = (playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count/playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100).round %>
                                <p class="dropdown-item font-weight-bold">Ratio</p>
                                <p class="dropdown-item font-weight-light"><%= ratio %>%</p>
                              <% end %>
                              <% pointsf = 0 %>
                              <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                <% if forecast.match.sport == "football" %>
                                  <% pointsf += (forecast.points_win + forecast.points_lose) %>
                                <% end %>
                              <% end %>
                              <p class="dropdown-item font-weight-bold">Points Football</p>
                              <p class="dropdown-item font-weight-light"><%= pointsf %></p>
                              <% pointsba = 0 %>
                              <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                <% if forecast.match.sport == "basketball"%>
                                  <%= pointsba += (forecast.points_win + forecast.points_lose) %>
                                <% end %>
                              <% end %>
                              <p class="dropdown-item font-weight-bold">Points Basketball</p>
                              <p class="dropdown-item font-weight-light"><%= pointsba %></p>
                            </div>
                            </td>
                          </div>
                        <%  pronosg = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive?}.count %>
                        <%  pronosn = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_lose.negative?}.count %>
                        <td class="cla"><%= pronosg + pronosn %></td>
                        <td><%=  valeur %></td>
                      </tr>
                    <% end %>
                    <% elsif playerseason.championship.name == "Pro" %>
                    <% if current_user.id == playerseason.user_id%>
                        <tr>
                          <th class="cla" scope="row"><%= x += 1 %></th>
                          <% if  current_user.player_seasons[0].blason.present? %>
                            <td class="cla" ><%= cl_image_tag current_user.player_seasons[0].blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "25px", height: "30px" %></td>
                            <td class="cla"><%= current_user.pseudo %> </td>
                          <% else %>
                            <td>
                              <%= link_to edit_player_season_path(current_user.player_seasons[0].id) do %>
                                <i class="fas fa-plus-circle" style="color: #FBB03B;"></i>
                              <% end %>
                            </td>
                            <td class="cla"><%=  current_user.pseudo %></td>
                          <% end %>
                          <%  pronosb = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive?}.count %>
                          <%  pronosm = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_lose.negative?}.count %>
                          <td class="cla"><%= pronosm + pronosb %></td>
                          <td class="cla"><%=  valeur %></td>
                        </tr>
                      <% elsif playerseason.forecasts.exists? && x == 0 || x == 2 || x == 3 %>
                        <tr class="monte">
                          <th scope="row"><%= x += 1 %></th>
                          <% if playerseason.blason == nil %>
                            <td>
                               <i class="fas fa-plus-circle" style="color: white;"></i>
                            </td>
                          <% else %>
                            <td><%= cl_image_tag playerseason.blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "27px", height: "32px" %>
                            </td>
                          <% end %>
                            <div class="dropdown">
                               <td class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <%=  playerseason.user.pseudo %>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <% if  playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).count == 0 || playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count == 0%>
                                  <p class="dropdown-item font-weight-bold">Ratio</p>
                                  <p class="dropdown-item font-weight-light">0%</p>
                                <% else %>
                                  <% ratio = (playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count/playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100).round %>
                                  <p class="dropdown-item font-weight-bold">Ratio</p>
                                  <p class="dropdown-item font-weight-light"><%= ratio %>%</p>
                                <% end %>
                                <% pointsf = 0 %>
                                <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                  <% if forecast.match.sport == "football" %>
                                    <% pointsf += (forecast.points_win + forecast.points_lose) %>
                                  <% end %>
                                <% end %>
                                <p class="dropdown-item font-weight-bold">Points Football</p>
                                <p class="dropdown-item font-weight-light"><%= pointsf %></p>
                                <% pointsba = 0 %>
                                <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                  <% if forecast.match.sport == "basketball"%>
                                    <%= pointsba += (forecast.points_win + forecast.points_lose) %>
                                  <% end %>
                                <% end %>
                                <p class="dropdown-item font-weight-bold">Points Basketball</p>
                                <p class="dropdown-item font-weight-light"><%= pointsba %></p>
                              </div>
                              </td>
                            </div>
                          <%  pronosg = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive?}.count %>
                          <%  pronosn = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_lose.negative?}.count %>
                          <td class="cla"><%= pronosg + pronosn %></td>
                          <td><%=  valeur %></td>
                        </tr>
                        <% elsif playerseason.forecasts.exists? && x == 16 || x == 17 || x == 18 || x == 19 %>
                          <tr class="descente">
                            <th scope="row"><%= x += 1 %></th>
                            <% if playerseason.blason == nil %>
                              <td>
                                 <i class="fas fa-plus-circle" style="color: white;"></i>
                              </td>
                            <% else %>
                              <td><%= cl_image_tag playerseason.blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "27px", height: "32px" %>
                              </td>
                            <% end %>
                              <div class="dropdown">
                                 <td class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=  playerseason.user.pseudo %>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <% if  playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).count == 0 || playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count == 0%>
                                    <p class="dropdown-item font-weight-bold">Ratio</p>
                                    <p class="dropdown-item font-weight-light">0%</p>
                                  <% else %>
                                    <% ratio = (playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count/playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100).round %>
                                    <p class="dropdown-item font-weight-bold">Ratio</p>
                                    <p class="dropdown-item font-weight-light"><%= ratio %>%</p>
                                  <% end %>
                                  <% pointsf = 0 %>
                                  <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                    <% if forecast.match.sport == "football" %>
                                      <% pointsf += (forecast.points_win + forecast.points_lose) %>
                                    <% end %>
                                  <% end %>
                                  <p class="dropdown-item font-weight-bold">Points Football</p>
                                  <p class="dropdown-item font-weight-light"><%= pointsf %></p>
                                  <% pointsba = 0 %>
                                  <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                    <% if forecast.match.sport == "basketball"%>
                                      <%= pointsba += (forecast.points_win + forecast.points_lose) %>
                                    <% end %>
                                  <% end %>
                                  <p class="dropdown-item font-weight-bold">Points Basketball</p>
                                  <p class="dropdown-item font-weight-light"><%= pointsba %></p>
                                </div>
                                </td>
                              </div>
                            <%  pronosg = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive?}.count %>
                            <%  pronosn = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_lose.negative?}.count %>
                            <td class="cla"><%= pronosg + pronosn %></td>
                            <td><%=  valeur %></td>
                          </tr>

                    <% else playerseason.forecasts.exists? %>
                      <tr>
                        <th scope="row"><%= x += 1 %></th>
                        <% if playerseason.blason == nil %>
                          <td>
                             <i class="fas fa-plus-circle" style="color: white;"></i>
                          </td>
                        <% else %>
                          <td><%= cl_image_tag playerseason.blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "27px", height: "32px" %>
                          </td>
                        <% end %>
                          <div class="dropdown">
                             <td class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%=  playerseason.user.pseudo %>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <% if  playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).count == 0 || playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count == 0%>
                                <p class="dropdown-item font-weight-bold">Ratio</p>
                                <p class="dropdown-item font-weight-light">0%</p>
                              <% else %>
                                <% ratio = (playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive?}.count/playerseason.forecasts.where(confirmed: true, season_id: Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100).round %>
                                <p class="dropdown-item font-weight-bold">Ratio</p>
                                <p class="dropdown-item font-weight-light"><%= ratio %>%</p>
                              <% end %>
                              <% pointsf = 0 %>
                              <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                <% if forecast.match.sport == "football" %>
                                  <% pointsf += (forecast.points_win + forecast.points_lose) %>
                                <% end %>
                              <% end %>
                              <p class="dropdown-item font-weight-bold">Points Football</p>
                              <p class="dropdown-item font-weight-light"><%= pointsf %></p>
                              <% pointsba = 0 %>
                              <% playerseason.forecasts.where(confirmed:true, season_id:Season.last.id).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
                                <% if forecast.match.sport == "basketball"%>
                                  <%= pointsba += (forecast.points_win + forecast.points_lose) %>
                                <% end %>
                              <% end %>
                              <p class="dropdown-item font-weight-bold">Points Basketball</p>
                              <p class="dropdown-item font-weight-light"><%= pointsba %></p>
                            </div>
                            </td>
                          </div>
                        <%  pronosg = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_win.positive?}.count %>
                        <%  pronosn = playerseason.forecasts.where(season_id: Season.last.id, confirmed: true).select{|v| v.points_lose.negative?}.count %>
                        <td class="cla"><%= pronosg + pronosn %></td>
                        <td><%=  valeur %></td>
                      </tr>
                    <% end %>

                    <% end %>

                  </tbody>

              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center pb-5">
    <div class="info">
      <h2 class="tit m-auto pb-4 pt-4">MES PRONOSTICS</h2>
      <div class="d-flex justify-content-between flex-row m-3">
        <h3 class="typopo d-flex justify-content-center">DOMICILE</h3>
        <h3 class="typopo d-flex justify-content-center">PRONO</h3>
        <h3 class="typopo d-flex justify-content-center">EXTERIEUR</h3>
      </div>
      <input type="hidden" id ="season_player" value="<%= @player %>">
      <% current_user.forecasts.where(confirmed: true, season_id: Season.last.id).sort_by{|v| v.match.kick_off}.each do |forecast| %>
        <% if forecast.season_id == @season.id %>
          <div class="d-flex justify-content-center mb-4 mt-4">


          </div>
          <div class="d-flex flex-row justify-content-around mb-4 mt-4" >
            <div class="d-flex flex-column align-items-center col-4">
              <div class="row">
                <h3 class="typopo"><%= image_tag "#{forecast.match.team_home_logo_url}", width: 50 %></h3>
              </div>
              <div class="row text-align-center">
                <h3 class="typopo"><%= forecast.match.team_home %></h3>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center">
              <% if  forecast.outcome == "NULL"%>
                <p class="typopo text-center">Nul</p>
              <% else %>
                <p class="typopo text-center"><%= forecast.outcome %></p>
              <% end %>
              <% if  forecast.points_win.positive?%>
                <p class="typopo text-center text-success">+<%= forecast.points_win %>pts</p>
              <% elsif forecast.points_lose.negative?%>
                <p class="typopo text-center text-danger"><%= forecast.points_lose %>pts</p>
              <% else forecast.points_lose.zero? && forecast.points_lose.zero? %>
                <% if forecast.outcome == "1" %>
                  <p class="typopo text-success-center"><%= forecast.match.points_home.round %>pts</p>
                <% elsif forecast.outcome == "2"%>
                  <p class="typopo text-success-center"><%= forecast.match.points_away.round %>pts</p>
                <% else forecast.outcome == "NULL"%>
                  <p class="typopo text-success-center"><%= forecast.match.points_draw.round %>pts</p>
                <% end %>
              <% end %>
              <% if forecast.match.result.present? %>
                <p class="typopo text-success-center"> <%= forecast.match.result %></p>
              <% else %>
              <% end %>
            </div>
            <div class="d-flex flex-column align-items-center text-align-center col-4 ">
              <h3 class="typopo"><%= image_tag "#{forecast.match.team_away_logo_url}", width: 50 %></h3>
              <h3 class="typopo"><%= forecast.match.team_away %></h3>
            </div>
          </div>
        <% else %>

        <% end %>

      <% end %>
      <div class="d-flex justify-content-center">
        <footer class="footer-match">
          <div class="footer-links" style="display: flex; align-items: center;">
            <a href="twitter://STORPE4" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-twitter"></i></a>
            <a href="fb://group//1039435053063312" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-facebook-square"></i></a>
            <!-- <a href="instagram://storpe4" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-instagram"></i></a> -->
          </div>
        </footer>
      </div>
    </div>
  </div>

  <%=  render "shared/navbarbottom" %>
  <script type='text/javascript'>
  (function()
  {
    if( window.localStorage )
    {
      if( !localStorage.getItem('firstLoad') )
      {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }
      else
        localStorage.removeItem('firstLoad');
    }
  })();
</script>
</div>
