<div class="position-relative">
<div class="topimageprofile w-100 d-flex mb-3">
  <h2 class="toptitle m-auto">MON PROFIL</h2>
</div>

<div class="d-flex justify-content-center mt-2 mb-2">
    <div class="info  d-flex  flex-column">
      <div class=" d-flex justify-content-around mt-4" style=" padding: 0 20%;">
        <% if  current_user.player_seasons[0].blason.present?%>
          <%= cl_image_tag current_user.player_seasons[0].blason.split('<img src="').join("").split('/>').join("").split('"').join("")%>
        <% end %>
        <div>
          <h3 class="typo"><%= current_user.pseudo %></h3>
          <h3 class="typo circle"></h3>
          <h3 class="typo mt-2">Division: <%= @championship[0].name %></h3>
        </div>
      </div>
      <svg class=" center-block mx-auto mt-1" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
      <div class="container mt-3" style=" padding: 0 20%;"  >
        <div class="d-flex justify-content-between">
          <h3 class="typo mr-3">MATCHS</h3>
          <h3 class="typo"><%= current_user.forecasts.count %></h3>
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="typo mr-3">RATIO</h3>
          <% if  current_user.forecasts.where(confirmed: true).count == 0 || current_user.forecasts.where(confirmed: true).select{|v| v.points_win.positive?}.count == 0%>
          <h3 class="typo">0%</h3>
          <% else %>
          <% ratio = (current_user.forecasts.select{|v| v.points_win.positive?}.count/current_user.forecasts.where(confirmed: true).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100).round %>
          <h3 class="typo"><%= ratio %>%</h3>
          <% end %>
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="typo mr-3">POINTS REMPORTÉS</h3>
          <% all = 0 %>
          <% current_user.forecasts.where(confirmed:true).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
              <% all += (forecast.points_win + forecast.points_lose) %>
          <% end %>
          <h3 class="typo"><%= all %></h3>
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="typo mr-3">POINTS FOOTBALL</h3>
          <% points = 0 %>
          <% current_user.forecasts.where(confirmed:true).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
            <% if forecast.match.sport == "football"%>
            <% points += (forecast.points_win + forecast.points_lose) %>
            <% end %>
          <% end %>
          <h3 class="typo"><%= points %></h3>
        </div>
        <div class="d-flex justify-content-between">
          <h3 class="typo mr-3">POINTS BASKETBALL</h3>
          <% pointsb = 0 %>
          <% current_user.forecasts.where(confirmed:true,).select{|v| v.points_win.positive? || v.points_lose.negative?}.each do |forecast| %>
            <% if forecast.match.sport == "basketball" %>
            <% pointsb += (forecast.points_win + forecast.points_lose) %>
            <% end %>
          <% end %>
          <h3 class="typo"><%= pointsb %></h3>
        </div>
      </div>
      <svg class=" center-block mx-auto mt-2" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
      <div class="btn-ranking d-flex justify-content-center">
        <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-outline-light btnbis typo">Voir mes statistiques</button>
      </div>
    </div>
  </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <div class="d-flex flex-column m-auto mt-4 pb-5">
     <h2 class="stat m-auto ">MES STATISTIQUES</h2>
      <div class="container mt-4" style=" padding: 0 30%;"  >
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-2">NOMBRE TOTAL DE PRONOS</h3>
        <h3 class="typo"><%= current_user.forecasts.count %></h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-2">RATIO</h3>
        <% if  current_user.forecasts.where(confirmed: true).count == 0 || current_user.forecasts.where(confirmed: true).select{|v| v.points_win.positive?}.count == 0%>
          <h3 class="typo">0%</h3>
        <% else %>
          <% ratio = (current_user.forecasts.where(confirmed: true).select{|v| v.points_win.positive?}.count/current_user.forecasts.where(confirmed: true).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100).round %>
          <h3 class="typo"><%= ratio %>%</h3>
        <% end %>
      </div>
    </div>

    <h3 class="stat typo m-auto mt-4 pt-4" >SEMAINE PRÉCÉDENTE</h3>
    <svg class=" center-block mx-auto mt-4" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
    <div class="container mt-4" style=" padding: 0 30%;"  >
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">MATCHS</h3>
        <h3 class="typo"><%= current_user.forecasts.where(confirmed: true, season_id: (Season.last.id - 1)).count%>/50</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">RATIO</h3>
        <% if  current_user.forecasts.where(confirmed: true, season_id: Season.last.id - 1).count == 0%>
          <h3 class="typo">0%</h3>
        <% else %>
          <% ratio = current_user.forecasts.where(confirmed: true, season_id: Season.last.id - 1).select{|v| v.points_win.positive?}.count/current_user.forecasts.where(confirmed: true, season_id: Season.last.id - 1).select{|v| v.points_win.positive? || v.points_lose.negative?}.count.to_f * 100 %>
          <h3 class="typo"><%= ratio.round %>%</h3>
        <% end %>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">POINTS REMPORTÉS</h3>
        <% points = 0 %>
        <% current_user.forecasts.where(confirmed: true, season_id: Season.last.id - 1).each do |forecast| %>
          <% if forecast.points_win.present? %>
          <% points += forecast.points_win %>
          <% end %>
        <% end %>
        <h3 class="typo"><%= points %></h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">POINTS FOOTBALL</h3>
        <% pointsf = 0 %>
        <% current_user.forecasts.where(season_id: Season.last.id - 1).each do |forecast| %>
          <% if forecast.match.sport == "football" && forecast.points_win.present? %>
            <% pointsf += forecast.points_win %>
          <% end %>
        <% end %>
        <h3 class="typo"><%= pointsf %></h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">POINTS BASKETBALL</h3>
        <% pointsb = 0 %>
        <% current_user.forecasts.where(season_id: Season.last.id - 1).each do |forecast| %>
          <% if forecast.match.sport == "basketball" && forecast.points_win.present? %>
            <% pointsb += forecast.points_win %>
          <% end %>
        <% end %>
        <h3 class="typo"><%= pointsb %></h3>
      </div>
    </div>
    <svg class=" center-block mx-auto mt-4" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>

  </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
        <footer class="footer-match">
          <div class="foot-phrase">
            <p>Le sport c'est ici aussi 👉</p>
          </div>
          <div class="footer-links" style="display: flex; align-items: center;">
            <a href="https://twitter.com/STORPE4" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/groups/storpe/" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/storpe4/?hl=fr" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-instagram"></i></a>
          </div>
        </footer>
      </div>

   <%=  render "shared/navbarbottom" %>
</div>
