<div class="position-relative">
<div class="topimageprofile w-100 d-flex mb-3">
  <h2 class="toptitle m-auto">MON PROFIL</h2>
</div>

<div class="d-flex justify-content-center">
  <div class="info  d-flex  flex-column">
    <div class=" d-flex justify-content-around mt-4" style=" padding: 0 30%;">

      <svg class="logoplayer " width="48.491" height="56.522" viewBox="0 0 48.491 56.522"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M3644.079,301.329V285.165a1.941,1.941,0,0,0-1.415-1.818l-22.225-8.082a1.725,1.725,0,0,0-1.414,0l-22.225,8.082a2.046,2.046,0,0,0-1.212,1.818v16.164c0,16.77,8.89,21.821,21.013,28.892l2.223,1.213a2.634,2.634,0,0,0,2.021,0l2.222-1.213C3635.189,323.149,3644.079,318.1,3644.079,301.329Zm-23.033,25.255-1.213.606V279.305l20.2,7.274v14.75C3640.038,315.673,3632.967,319.714,3621.046,326.584Z" transform="translate(-3595.588 -275.113)"/></svg>
      <div>
        <h3 class="typo"><%= current_user.name %></h3>
        <h3 class="typo circle">10th</h3>
        <h3 class="typo">DIVISION 2</h3>
      </div>
    </div>
    <svg class=" center-block mx-auto mt-4" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
    <div class="container mt-4" style=" padding: 0 30%;"  >
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">MATCHS</h3>
        <h3 class="typo"><%= @forecasts.count%></h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">RATIO</h3>
        <h3 class="typo">56%</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">POINTS REMPORTÉS</h3>
        <h3 class="typo">1765</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">POINTS FOOTBALL </h3>
        <h3 class="typo">1006</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">POINTS BASKETBALL </h3>
        <h3 class="typo">759</h3>
      </div>
    </div>
    <svg class=" center-block mx-auto mt-4" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
    <div class="btn-ranking d-flex justify-content-center">
      <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-outline-light btnbis typo">Voir mes statistiques</button>
    </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <div class="d-flex flex-column m-auto mt-4 pb-5">
     <h2 class="stat m-auto ">MES STATISTIQUES</h2>
      <div class="container mt-4" style=" padding: 0 30%;"  >
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-2">NOMBRE TOTAL DE PRONOS</h3>
        <h3 class="typo">120</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-2">RATIO</h3>
        <h3 class="typo">60%</h3>
      </div>
    </div>

    <h3 class="stat typo m-auto mt-4 pt-4" >RATIO SEMAINE PRÉCÉDENTE</h3>
    <svg class=" center-block mx-auto mt-4" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
    <div class="container mt-4" style=" padding: 0 30%;"  >
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">MATCHS</h3>
        <h3 class="typo">680</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">RATIO</h3>
        <h3 class="typo">54%</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">POINTS REMPORTÉS</h3>
        <h3 class="typo">935</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">POINTS FOOTBALL</h3>
        <h3 class="typo">59</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo mr-3">POINTS BASKETBALL</h3>
        <h3 class="typo">120</h3>
      </div>
    </div>
    <svg class=" center-block mx-auto mt-4" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>

  </div>
      </div>
    </div>
  </div>
</div>



<div class="d-flex justify-content-center pb-5">
​
      <div class="info">
        <h2 class="typopo m-auto pb-4 pt-4">MES PRONOSTIQUES</h2>
        <div class="d-flex justify-content-between flex-row m-3">
          <h3 class="typopo d-flex justify-content-center">DOMICILE</h3>
          <h3 class="typopo d-flex justify-content-center">PRONO</h3>
          <h3 class="typopo d-flex justify-content-center">EXTERIEUR</h3>
        </div>
        <input type="hidden" id ="season_player" value="<%= @player %>">
         <% @forecasts.each do |forecast| %>
        <div class="d-flex justify-content-center mb-4 mt-4">


        </div>
        <div class="d-flex flex-row justify-content-around mb-4 mt-4" >
          <div class="d-flex flex-column align-items-center col-4">
            <div class="row">
            <h3 class="typopo"><%= image_tag "#{forecast.match.team_home_logo_url}", width: 50 %></h3>
            </div>
            <div class="row text-align-center">
            <h3 class="typopo"><%= forecast.match.team_home %></h3>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <p class="typopo text-center"><%= forecast.outcome %></p>
            <div class="d-flex flex-row align-items-center col-4">

            </div>
          </div>
          <div class="d-flex flex-column align-items-center text-align-center col-4 ">
            <h3 class="typopo"><%= image_tag "#{forecast.match.team_away_logo_url}", width: 50 %></h3>
            <h3 class="typopo"><%= forecast.match.team_away %></h3>
          </div>
        </div>

        <% end %>
      </div>
    </div>
   <%=  render "shared/navbarbottom" %>
</div>
