<div class="video">
  <div class="main">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/SQEhcNc440c?&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top: 25px;"></iframe>
  </div>
</div>
<div class="main">
  <div id="carouselExampleIndicators" class="carousel" data-ride="carousel">
    <ol class="carousel-indicators bg-none">
      <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item bg-transparent active">
        <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_600/v1601456890/Caroussel-1-Lundi_Dimanche_zdi3wh.png", :alt=>"Championnat du Lundi au Dimanche"%>
        <div class="carousel-caption">
          <h2 style="color:#FBB03B;">Rejoins un Championnat</h2>
          <p>Chaque semaine <span style="color:#FBB03B;">défie tes adversaires</span>. Prouve-leur que tu es le meilleur <strong>pronostiqueur</strong> sportif.</p>
        </div>
      </div>
      <div class="carousel-item bg-transparent">
        <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_600/v1603196555/Caroussel-1-sports_q6bwjh.png", :alt=>"Matchs de Football et NBA" %>
        <div class="carousel-caption">
          <h2 style="color:#FBB03B;">Au menu: Football et Basketball</h2>
          <p>Pronostique correctement les <span style="color:#FBB03B;font-weight: bold;">vainqueurs de matchs</span> afin de remporter un maximum de points.</p>
        </div>
      </div>
      <div class="carousel-item bg-transparent">
        <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_600/v1603196297/Caroussel-1-Lundi_Dimanche_g5gpp3.png", :alt=>"Explication du système de points" %>
        <div class="carousel-caption">
          <h2 style="color:#FBB03B;" >Des points à la hauteur de tes performances</h2>
          <p><span style="color: #a1c226;">Gagne</span> des points qui prennent en compte la difficulté de ton pronostic. <span style="color: #c4070e;">Perds</span> des points en cas de pronostic incorrect.</p>
        </div>
      </div>
      <div class="carousel-item bg-transparent">
        <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_600/v1603196980/Caroussel-1-Monte%CC%81e_descente_jr86ds.png", :alt=>"Évolue de division chaque semaine" %>
        <div class="carousel-caption">
          <h2 style="color:#FBB03B;">Évolue de Division à la fin du Championnat</h2>
          <p>Classe-toi parmi les meilleurs pour connaître la <span style="color: #FBB03B;">promotion</span>. Attention même les plus vaillants ont connu la <span style="color:#FBB03B;">relégation</span> #TFC</p>
        </div>
      </div>
      <div class="carousel-item bg-transparent">
        <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_600/v1601457979/Caroussel-1-stats_pmki2j.png", :alt=>"Analyse tes statistiques de pronostiqueur" %>
        <div class="carousel-caption">
          <h2 style="color:#FBB03B;">Des statistiques de ta carrière de pronostiqueur</h2>
          <p><span style="color:#FBB03B;">Analyse tes statistiques</span> et détermine les sports qui te font gagner le plus de points pour vaincre tes adversaires.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
