<%= simple_form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="d-flex justify-content-center">
    <div class="col-xs-12">
      <div class="form-group">
        <p>
          <%= f.label :title %>
        </p>
      </div>
      <div class="col-sm-6">
        <p>
          <%= f.text_field :title, placeholder: "Titre", autofocus: true %>
        </p>
      </div>
        <div class="form-group">
        </div>
        <%= f.input :photo, as: :file %>
        <div class="col-sm-6">
          <p>
            <p>
            <%= f.label :description %><br>
          </p>
            <%= f.text_area :description, placeholder: "Description SEO", autofocus: true %>
          </p>
        </div>
        <div class="col-sm-6">
          <p>
            <%= f.label :text %><br>
          </p>
          <p>
            <%= f.cktext_area :text, ckeditor: {toolbar: 'mini'} %>
          </p>
        </div>
        <p>
          <%= f.submit %>
        </p>
   </div>
  </div>
<% end %>
= javascript_include_tag Ckeditor.cdn_url
