<%= simple_form_for @article do |f| %>
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <p><%= f.label :title %></p>
      <p><%= f.text_field :title, placeholder: "Titre", autofocus: true %></p>
      <p><%= f.label :description %><br></p>
      <%= f.input :photo, as: :file %>
      <p><%= f.text_area :description, placeholder: "Description SEO", autofocus: true %></p>
      <p class="bg-white"><%= f.rich_text_area :body, height: "300px", width:"300px" %></p>
      <p><%= f.submit %></p>
    </div>
  </div>
<% end %>
