<div class="log">
  <div class="nav1" style="margin-bottom: 80px;">
    <a href="/"><svg class="logo" xmlns="https://www.w3.org/2000/svg" width="171.171" height="32.064" viewBox="0 0 171.171 32.064"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M824.565,80.249c-3.021-1.859-4.786-2.6-6.6-2.742-1.115-.093-2.045.419-2.138,1.162-.047.6.232,1.162,1.115,1.859.186.14.325.278.976.744.372.232.883.6,1.3.883,4.089,2.881,5.39,4.879,5.39,8.225,0,6.413-5.018,10.223-13.522,10.223a29.592,29.592,0,0,1-9.665-1.952,16.593,16.593,0,0,1-2.417-1.208l2.6-9.433a14.238,14.238,0,0,0,7.389,3.3,1.681,1.681,0,0,0,1.905-1.394c0-.651-.326-1.069-1.3-1.766a37.959,37.959,0,0,1-4.6-3.671,7.46,7.46,0,0,1-2.277-6.042c.325-5.994,5.158-9.9,12.267-9.9a20.935,20.935,0,0,1,10.921,2.695Z" transform="translate(-799.007 -68.539)"/><path class="a" d="M853.657,100.172H842.829L846.035,78.7h-7.342l1.348-9.015h25.465L864.158,78.7h-7.3Z" transform="translate(-811.416 -68.898)"/><path class="a" d="M932.01,69.709c1.534-.186,2.742-.325,3.485-.372,2.138-.186,4.508-.325,6.367-.325,5.343,0,8.41.6,10.781,2.138a9.79,9.79,0,0,1,4.089,8.039c0,3.764-2,6.924-5.669,8.969l6.505,11.8h-12.5l-3.577-9.016h-1.812l-1.348,9.016H927.5Zm8.737,14.08h2.881c1.209,0,2.6-1.579,2.7-3.113.14-2-1.255-3.16-3.857-3.16a6.032,6.032,0,0,0-.79.047Z" transform="translate(-839.185 -68.687)"/><path class="a" d="M976.36,69.688c.651-.093,1.115-.186,1.441-.232a54.434,54.434,0,0,1,5.483-.465l2.045-.047c5.483.047,9.061.93,11.617,2.835,2.648,2.044,3.9,4.879,3.9,8.689a12.7,12.7,0,0,1-3.3,7.9,12.9,12.9,0,0,1-7.3,3.857,19.318,19.318,0,0,1-4.089.465H983.8l-1.115,7.25H971.853Zm8.69,14.5a6.183,6.183,0,0,0,1.58.047c2.416-.14,3.857-1.487,3.857-3.578,0-1.812-1.533-2.974-3.764-2.881-.186,0-.419.047-.744.047Z" transform="translate(-853.052 -68.666)"/><path class="a" d="M1025.188,81.12h8.225l-1.069,7.249h-8.271l-.558,3.718h12.221l-2.277,8.086h-21.515l4.554-30.484h20.261l-1.208,7.993H1025.7Z" transform="translate(-865.588 -68.898)"/><g transform="translate(55.172)"><path class="a" d="M913.454,85.981a14.622,14.622,0,0,0-8.008,7.62,5.53,5.53,0,0,0,4.746,2.615,5.633,5.633,0,0,0,3.262-10.234Zm-2.947,7.91a2.38,2.38,0,0,1-2.349-2.346,2.348,2.348,0,0,1,4.7,0A2.38,2.38,0,0,1,910.507,93.891Z" transform="translate(-887.46 -73.993)"/><path class="a" d="M895.918,89.333a15.809,15.809,0,0,1,14.694-11.181,16.037,16.037,0,0,0-29.388,0A15.809,15.809,0,0,1,895.918,89.333Z" transform="translate(-879.886 -68.539)"/><path class="a" d="M910.539,84.558a.671.671,0,0,1-.074,0,14.346,14.346,0,0,0-3.477.43,7.149,7.149,0,0,1-4.977,12.294,7.034,7.034,0,0,1-5.376-2.438c-.39,1.284-1.325,4.681-1.325,4.681s-.935-3.4-1.325-4.681a7.036,7.036,0,0,1-5.375,2.437,7.148,7.148,0,0,1-4.976-12.294,14.356,14.356,0,0,0-3.478-.43c-.025,0-.049,0-.073-.006a16.032,16.032,0,1,0,30.457,0Z" transform="translate(-879.278 -73.547)"/><path class="a" d="M887.024,85.981a5.632,5.632,0,0,0,3.26,10.234A5.524,5.524,0,0,0,895.03,93.6,14.617,14.617,0,0,0,887.024,85.981Zm2.947,7.91a2.38,2.38,0,0,1-2.347-2.346,2.347,2.347,0,0,1,4.693,0A2.38,2.38,0,0,1,889.972,93.891Z" transform="translate(-880.954 -73.993)"/></g></svg></a>
    <h1 style="padding-top: 10px;">Ton Championnat de pronostics sportifs</h1>
  </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: {autocomplete: "Prénom : Roberto"} %>
    <%= f.input :last_name,
                autofocus: true,
                input_html: {autocomplete: "Nom : Larcos"} %>
     <%= f.input :pseudo,
                required: true,
                autofocus: true,
                hint: "12 caractères maximum l'ami !",
                input_html: {autocomplete: "Pseudo"} %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Email" }%>
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "nouveau mot de passe" } %>

      </div>
        <p style="margin-bottom: 0px;">En cliquant sur "S'inscrire", j'accepte les Termes et Conditions d'utilisation de STORPE.</p>
      <br>

      <div class="form-actions">
          <%= f.button :submit, "S'inscrire", class:"rejoins_1" %>
      </div>
        <p style="text-align: center; padding-top: 0px; font-size: 15px; margin-bottom: 0px;">- Ou -</p>
      <div class="form-actions">
      <button class="btn-login mb-0">
        <%= link_to matches_path do %>
         <div class="color">Se connecter</div>
        <% end %>
      </button>
    </div>
    <% end %>
  </div>


