<div class="position-relative">
  <div class="topimagechampionship w-100 d-flex mb-3">
    <h2 class="toptitle m-auto">TABLEAU DE BORD</h2>
  </div>
  <div class="d-flex justify-content-center mt-2 mb-2">
    <div class="info  d-flex flex-column">
      <h2 class="prono typo m-auto pb-4 pt-4">TOP 3 de la semaine</h2>
      <% arraytop = [] %>
      <% @playerseasons.sort_by{ |playerseason| playerseason.number_of_points}.last(3).each do |playerseason| %>
        <% arraytop << playerseason %>
      <% end %>
      <% x = 0 %>
      <% arraytop.each do |player| %>
      <div class="d-flex flex-row justify-content-center">
        <% if x == 2  %>
          <p class="typo" style="color: #fecd1a;"><%= x += 1 %>er</p>
        <% elsif x == 1 %>
          <p class="typo" style="color: #dddddd;"><%= x += 1 %>ème</p>
        <% elsif x == 0 %>
          <p class="typo" style="color: #f05454;"><%= x += 1 %>ème</p>
        <% end %>
      </div>
      <div class="text-center">
        <p>
          <% if player.blason.present? %>
            <%= cl_image_tag player.blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "47px", height: "52px" %>
          <% else %>
            <i class="fas fa-plus-circle" style="color: white;"></i>
          <% end %>
        </p>
      </div>
        <p class="typo text-center"><%= player.user.pseudo %></p>
        <p class="typopo"><%= player.number_of_points %> points</p>
        <p class="prono typopo"> Division : <%= player.championship.name %> </p>
        <br>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-2 mb-2">
    <div class="info  d-flex  flex-column">
      <h2 class="prono typo m-auto pb-4 pt-4">TOP 3 pronos d'hier</h2>
      <% chaud = [] %>
      <% @forecasts.sort_by{|points|points.points_win }.each do |forecast| %>
        <% if forecast.match.event_stamp == Date.yesterday.to_s && forecast.points_win.positive? %>
          <% chaud.push(forecast) %>
        <% end %>
      <% end %>
      <% bon =  chaud.last(3) %>
      <% if chaud.empty? %>
       <p class="typo text-center">Ils arrivent t'inquiète</p>
       <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/OSuaE6AknuRc7syZXp" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/will-smith-moviepass-empty-room-OSuaE6AknuRc7syZXp">via GIPHY</a></p>
      <% else %>
        <% bon.each do |meilleur| %>
          <p class="typo text-center">Pseudo : <%= meilleur.player_season.user.pseudo %></p>
          <div class="d-flex flex-row justify-content-around mt-2">
            <div class="d-flex flex-column align-items-center col-4">
              <div>
                <p><%= cl_image_tag Match.where(id: meilleur.match_id).first.team_home_logo_url, width: 50, alt: "Équipe à domicile" %></p>
              </div>
              <div class="row text-align-center">
                <h3 class="typopo"><%= Match.where(id: meilleur.match_id).first.team_home %></h3>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center">
              <p class="typopo text-center">VS</p>
            </div>
            <div class="d-flex flex-column align-items-center col-4">
              <div>
                <p><%= cl_image_tag Match.where(id: meilleur.match_id).first.team_away_logo_url, width: 50, alt: "Équipe à extérieur" %></p>
              </div>
              <div class="row text-align-center">
                <h3 class="typopo"><%= Match.where(id: meilleur.match_id).first.team_away %></h3>
              </div>
            </div>
          </div>
          <div class="prono typo text-center">
            <p><%= meilleur.points_win %> points</p>
            <% if meilleur.outcome == "1" %>
              <p>avec Vainqueur <%= Match.where(id: meilleur.match_id).first.team_home %> </p>
            <% elsif meilleur.outcome == "NULL" %>
              <p>avec Match nul</p>
            <% elsif meilleur.outcome == "2" %>
              <p>avec Vainqueur <%= Match.where(id: meilleur.match_id).first.team_away %> </p>
            <% elsif meilleur.outcome == "3" %>
              <p>avec Scoreur <%= Match.where(id: meilleur.match_id).first.nom_buteur_1 %> </p>
            <% elsif meilleur.outcome == "4" %>
              <p>avec Scoreur <%= Match.where(id: meilleur.match_id).first.nom_buteur_2 %> </p>
            <% elsif meilleur.outcome == "7" %>
              <p>avec But pour les 2 équipes OUI </p>
            <% elsif meilleur.outcome == "8" %>
              <p>avec But pour les 2 équipes NON </p>
            <% elsif meilleur.outcome = "9" %>
              <p>avec Moins de 2.5 buts </p>
            <% elsif meilleur.outcome = "10" %>
              <p>avec Plus de 2.5 buts </p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-2 mb-2">
  <div class="info  d-flex  flex-column">
    <h2 class="prono typo m-auto pb-4 pt-4">Tendances des pronostics sportifs</h2>
    <!-- Football -->
    <% @matchestoday.each do |match| %>
      <% un = match.forecasts.where(outcome: "1").count %>
      <% deux = match.forecasts.where(outcome: "2").count %>
      <% trois = match.forecasts.where(outcome: "NULL").count %>
      <% all = un + deux + trois %>
      <div class="d-flex justify-content-center mb-2 mt-2">
        <h4 class="typopo"><%= match.league %></h4>
      </div>
      <div class="d-flex justify-content-center mb-2 mt-2">
        <h3 class="tit"><%= DateTime.parse(match.kick_off).to_date%></h3><h3 class="typopo pl-2">-</h3>
        <h3 class="typopo pl-2"><%= match.kick_off.to_s.gsub("T", " ").split[1].gsub("+", " ").split[0]%></h3>
      </div>
      <div class="d-flex flex-row justify-content-around mt-2" data-id="<%= match.id %>">
        <div class="d-flex flex-column align-items-center col-4">
          <div class="row">
            <h3 class="typopo"><%= image_tag "#{match.team_home_logo_url}", width: 50, alt: "Équipe à domicile" %></h3>
          </div>
          <div class="row text-align-center">
            <h3 class="typopo"><%= match.team_home %></h3>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <p class="typopo text-center">VS</p>
        </div>
        <div class="d-flex flex-column align-items-center text-align-center col-4 ">
          <h3 class="typopo"><%= image_tag "#{match.team_away_logo_url}", width: 50, alt: "Équipe à l'extérieur" %></h3>
          <h3 class="typopo"><%= match.team_away  %></h3>
        </div>
      </div>
      <div class="prono typopo d-flex flex-column my-1 justify-content-between mx-5">
        <div class="d-flex flex-row my-3 justify-content-between">
          <div>
            Pts : +<%= match.points_home.to_i %> / <%= match.negative_points_home %>
          </div>
          <% if match.sport == "football" %>
            <div>
              Pts : +<%= match.points_draw.to_i %> /<%= match.negative_points_draw %>
            </div>
          <% else %>
          <% end %>
          <div>
            Pts : +<%= match.points_away.to_i %> / <%= match.negative_points_away %>
          </div>
        </div>
        <div class="d-flex flex-row my-3 justify-content-between">
          <% if all == 0 %>
          <% else %>
            <p class="typo"><%# match.team_home  %> <%= (un * 100/all) %>%</p>
            <p class="typo"> <%= (trois * 100/all) %>%</p>
            <p class="typo"><%#= match.team_away  %> <%= (deux * 100/all) %>%</p>
          <% end %>
        </div>
      </div>
    <% end %>
    <!-- Basket -->
    <% @matchesbasketoday.each do |match| %>
      <% un = match.forecasts.where(outcome: "1").count %>
      <% deux = match.forecasts.where(outcome: "2").count %>
      <% all = un + deux %>
      <div class="d-flex justify-content-center mb-2 mt-2">
        <h4 class="typopo"><%= match.league %></h4>
      </div>
      <div class="d-flex justify-content-center mb-2 mt-2">
        <h3 class="tit"><%= DateTime.parse(match.kick_off).to_date%></h3><h3 class="typopo pl-2">-</h3>
        <h3 class="typopo pl-2"><%= match.kick_off.to_s.gsub("T", " ").split[1].gsub("+", " ").split[0]%></h3>
      </div>
      <div class="d-flex flex-row justify-content-around mt-2" data-id="<%= match.id %>">
        <div class="d-flex flex-column align-items-center col-4">
          <div class="row">
            <h3 class="typopo"><%= image_tag "#{match.team_home_logo_url}", width: 50, alt: "Équipe à domicile" %></h3>
          </div>
          <div class="row text-align-center">
            <h3 class="typopo"><%= match.team_home %></h3>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <p class="typopo text-center">VS</p>
        </div>
        <div class="d-flex flex-column align-items-center text-align-center col-4 ">
          <h3 class="typopo"><%= image_tag "#{match.team_away_logo_url}", width: 50, alt: "Équipe à l'extérieur" %></h3>
          <h3 class="typopo"><%= match.team_away  %></h3>
        </div>
      </div>
      <div class="prono typopo d-flex flex-column my-1 justify-content-between mx-5">
        <div class="d-flex flex-row my-3 justify-content-between">
          <div>
            Pts : +<%= match.points_home.to_i %> / <%= match.negative_points_home %>
          </div>
          <% if match.sport == "football" %>
            <div>
              Pts : +<%= match.points_draw.to_i %> /<%= match.negative_points_draw %>
            </div>
          <% else %>
          <% end %>
          <div>
            Pts : +<%= match.points_away.to_i %> / <%= match.negative_points_away %>
          </div>
        </div>
        <div class="d-flex flex-row my-3 justify-content-between">
          <% if all == 0 %>
          <% else %>
            <p class="typo"><%#= match.team_home  %> <%= (un * 100/all) %>%</p>
            <p class="typo"><%#= match.team_away  %> <%= (deux * 100/all) %>%</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%=  render "shared/navbarbottom" %>
