<div class="position-relative">
  <div class="topimagedashboard w-100 d-flex mb-3">
    <h2 class="toptitle m-auto">TABLEAU DE BORD</h2>
  </div>
  <div class="d-flex justify-content-center mt-2 mb-2">
    <div class="info  d-flex flex-column">
      <h2 class="tit m-auto pb-4 pt-4">TOP 3 de la semaine</h2>
      <% arraytop = [] %>
      <% @playerseasons.sort_by{ |playerseason| playerseason.number_of_points}.last(3).each do |playerseason| %>
        <% arraytop = [] %>
        <% arraytop << playerseason %>
      <% end %>
      <% x = 0 %>
      <% arraytop.each do |player| %>
        <p><%= x += 1 %></p>
        <p> Pseudo:<%= player.user.pseudo %></p>
        <p> Blason:
          <% if player.blason.present? %>
            <%= cl_image_tag player.blason.split('<img src="').join("").split('/>').join("").split('"').join(""), width: "27px", height: "32px" %>
          <% else %>
          <% end %>
        </p>
        <p> Championnat: <%= player.championship.name %> </p>
        <p> Nombre de points: <%= player.number_of_points %> </p>
        <br>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-2 mb-2">
    <div class="info  d-flex  flex-column">
      <h2 class="tit m-auto pb-4 pt-4">Les plus grosses perf' de la journée</h2>
      <% chaud = [] %>
      <% @forecasts.sort_by{|points|points.points_win}.each do |forecast| %>
        <% if forecast.match.event_stamp == Date.yesterday.to_s %>
          <% chaud.push(forecast) %>
        <% end %>
      <% end %>
      <% bon =  chaud.last(3) %>
      <% bon.each do |meilleur| %>
        <p>Pseudo : <%= meilleur.player_season.user.pseudo %></p>
        <p>Prénom : <%= meilleur.player_season.user.name %></p>
        <p>Nom : <%=  meilleur.player_season.user.last_name %></p>
        <p>Match : <%= meilleur.match_id %> </p>
        <p>Plus gros points : <%= meilleur.points_win %></p>
        <br>
      <% end %>
    </div>
  </div>
</div>


<h2>Tendance des pronostiques sportifs</h2>
<div class="d-flex justify-content-center">
  <div class="info" style="text-align: center;">
    <% @matches.each do |match| %>
      <p> Nombre de pronos <%= match.forecasts.count %> </p>
      <p> Équipe à domicile <%= match.team_home %></p>
      <p> Points équipe à domicile<%= match.points_home %></p>
      <p> Points Négatifs Dom <%= match.negative_points_home %></p>
      <p> Équipe à l'extérieur<%= match.team_away %></p>
      <p> Points Négatifs Ext <%= match.negative_points_away %> </p>
      <p> Points équipe à l'extérieur<%= match.points_away %></p>
      <p> Points du match nul<%= match.points_draw %></p>
      <p>Points Négatifs Nul <%= match.negative_points_draw %> </p>
      <% compteur_1 = 0 %>
      <% compteur_2 = 0 %>
      <% compteur_nul = 0 %>
      <% match.forecasts.each do |forecast| %>
        <% if forecast.outcome == "1" %>
          <% compteur_1 += 1 %>
        <% elsif forecast.outcome == "2" %>
          <% compteur_2 += 1 %>
        <% elsif forecast.outcome == "NULL" %>
          <% compteur_nul += 1 %>
        <% end %>
      <% end %>
      <p>Nombre de pronostiques sur l'équipe à domicile<%= compteur_1 %></p>
      <p>Nombre de pronostiques sur l'équipe à l'extérieur<%= compteur_2 %></p>
      <p>Nombre de pronostiques sur le match nul<%= compteur_nul %></p>
      <br>
      <br>
    <% end %>
  </div>
</div>
<%=  render "shared/navbarbottom" %>
