<div class="position">
  <div class="content">
    <div class="main-image">
      <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/v1601458862/testlandingstrong-ombre_qfovua.png", :width=>"100%", :alt=>"Bannière STORPE" %>
    </div>
    <hr class="new2">
    <div class="desktop">
      <%= render "shared/desktop" %>
      <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="100665954734426"
        theme_color="#FBB03B"
        logged_in_greeting="Salut ! Comment puis-je t'aider ? "
        logged_out_greeting="Salut ! Comment puis-je t'aider ? ">
      </div>
      <%= render "shared/footer" %>
    </div>
    <div class="phone">
      <%= render "shared/phone" %>
      <footer class="footer-match">
        <div class="foot-phrase">
          <p>Le sport c'est ici aussi 👉</p>
        </div>
        <div class="footer-links" style="display: flex; align-items: center;">
          <a href="twitter://STORPE4" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-twitter"></i></a>
          <a href="fb://group//?id=%@storpe" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-facebook-square"></i></a>
          <a href="instagram://user?username=storpe4" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-instagram"></i></a>
        </div>
      </footer>
    </div>
  </div>
<%= render "shared/new" %>
</div>

