<div class="position">
  <div class="content">
    <div class="main-image">
      <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/v1601458862/testlandingstrong-ombre_qfovua.png", :width=>"100%" %>
    </div>
    <div class="desktop">
    </div>
    <div class="phone">
    </div>
    <!-- <hr class="new1"> -->
    <div class="video">
        <div class="main">
          <iframe width="800" height="450" src="https://www.youtube.com/embed/SQEhcNc440c?&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <hr class="new2">
      <div class="desktop">
        <div class="main">
          <div id="carouselExampleIndicators" class="carousel" data-ride="carousel">
            <ol class="carousel-indicators bg-none">
              <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item bg-transparent active">
                <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_600/v1601456890/Caroussel-1-Lundi_Dimanche_zdi3wh.png", :alt=>"Championnat du Lundi au Dimanche"%>
                <div class="carousel-caption">
                 <h2>Rejoins un Championnat</h2>
                  <p>Chaque semaine défie tes adversaires. Prouve leur que tu es le meilleur <span style="text-decoration: underline; color:#FBB03B; "><strong>pronostiqueur</strong></span> sportif.</p>
                </div>
              </div>
              <div class="carousel-item bg-transparent">
                <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_600/v1601457090/Caroussel-1-Sports_lgdunw.png", :alt=>"Matchs de Football et NBA" %>
                <div class="carousel-caption">
                  <h2>Au menu: Football et NBA</h2>
                  <p>Pronostique les <span style="text-decoration: underline; color:#FBB03B; font-weight: bold;">vainqueurs des matchs</span> de Football et de NBA afin de remporter un maximum de points.</p>
                </div>
              </div>
              <div class="carousel-item bg-transparent">
                <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_600/v1601457773/Caroussel-1-points_eixk8g.png", :alt=>"Explication du système de points" %>
                <div class="carousel-caption">
                  <h2>Des points à la hauteur de tes performances</h2>
                  <p><span style="color: green; text-decoration: underline;">Remporte des points</span> qui prennent en compte la difficulté de ton pronostic. <span style="color: red; text-decoration: underline;">Perd des points</span> en cas de pronostic incorrect.</p>
                </div>
              </div>
              <div class="carousel-item bg-transparent">
                <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_600/v1601459661/Caroussel-1-promot-relegation_ikyam7.png", :alt=>"Évolue de division chaque semaine" %>
                <div class="carousel-caption">
                  <h2>Évolue de Division à la fin du Championnat</h2>
                  <p>Fais partie des meilleurs et accède à la <span style="text-decoration: underline; color:#FBB03B; font-weight: bold;">division supérieure</span>. Attention même les plus vaillants ont connu la <span style="color: #FBB03B; text-decoration: underline;">relégation</span> #TFC</p>
                </div>
              </div>
              <div class="carousel-item bg-transparent">
                <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_600/v1601457979/Caroussel-1-stats_pmki2j.png", :alt=>"Analyse tes statistiques de pronostiqueur" %>
                <div class="carousel-caption">
                  <h2>Des statistiques de ta carrière de pronostiqueur</h2>
                  <p>Comme un athlète pro, <span style="text-decoration: underline; color:#FBB03B; font-weight: bold;">analyse tes performances</span>. Choisis la meilleure stratégie de <span style="text-decoration: underline; color:#FBB03B; font-weight: bold;">jeu</span>, détruis tes adversaires.</p>
                </div>
              </div>
            </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="phone">
        <div class="main">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators bg-none">
              <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item bg-transparent active">
                <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_335/v1601456890/Caroussel-1-Lundi_Dimanche_zdi3wh.png", :alt=>"Championnat du Lundi au Dimanche" %>
                <div class="carousel-caption">
                 <h2>Rejoins un Championnat</h2>
                  <p>Chaque semaine défie tes adversaires. Prouve leur que tu es le meilleur <span style="text-decoration: underline; color:#FBB03B; "><strong>pronostiqueur</strong></span> sportif.</p>
                </div>
              </div>
              <div class="carousel-item bg-transparent">
                <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_335/v1601457090/Caroussel-1-Sports_lgdunw.png", :alt=>"Matchs de Football et NBA" %>
                <div class="carousel-caption">
                  <h2>Au menu: Football et NBA</h2>
                  <p>Pronostique les <span style="color: #FBB03B; text-decoration: underline;">vainqueurs des matchs</span> de Football et de NBA afin de remporter un maximum de points.</p>
                </div>
              </div>
              <div class="carousel-item bg-transparent">
                <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_335/v1601457773/Caroussel-1-points_eixk8g.png", :alt=>"Explication du système de points" %>
                <div class="carousel-caption">
                  <h2>Des points à la hauteur de tes performances</h2>
                  <p><span style="color: green; text-decoration: underline;">Remporte des points</span> pondérés. <span style="color: red; text-decoration: underline;">Perd des points</span> en cas de pronostics incorrects.</p>
                </div>
              </div>
              <div class="carousel-item bg-transparent">
                <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_335/v1601459661/Caroussel-1-promot-relegation_ikyam7.png", :alt=>"Évolue de division chaque semaine" %>
                <div class="carousel-caption">
                  <h2>Évolue de Division à la fin du Championnat</h2>
                  <p>Fais partie des meilleurs et accède à la <span style="color: #FBB03B; text-decoration: underline;">division supérieure</span>. Attention à la relégation #TFC</p>
                </div>
              </div>
              <div class="carousel-item bg-transparent">
                <%= cl_image_tag "https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_335/v1601457979/Caroussel-1-stats_pmki2j.png", :alt=>"Analyse tes statistiques de pronostiqueur" %>
                <div class="carousel-caption">
                  <h2>Tes stats en carrière</h2>
                  <p>Comme un athlète pro, <span style="color: #FBB03B; text-decoration: underline;">analyse tes performances</span>. Choisis ta stratégie de <span style="color: #FBB03B; text-decoration: underline;">jeu</span>, détruis tes adversaires.</p>
                </div>
              </div>
            </div>
          <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
      </div>
    </div>
    <div class="mainhome pb-5">
      <%= link_to matches_path do %>
        <button class="rejoins_1" style="color: white;">Rejoins le championnat</button>
      <% end %>
    </div>
    <div class="desktop">
      <%= render "shared/footer" %>
    </div>
    <div class="phone">
      <footer class="footer-match">
        <div class="foot-phrase">
          <p>Le sport c'est ici aussi 👉</p>
        </div>
        <div class="footer-links" style="display: flex; align-items: center;">
          <a href="twitter://STORPE4" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-twitter"></i></a>
          <a href="fb://group//1039435053063312" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-facebook-square"></i></a>
          <a href="instagram://storpe4" style="text-decoration: none; padding: 0px 10px;"><i class="fab fa-instagram"></i></a>
        </div>
      </footer>
     </div>
  </div>
<%= render "shared/new" %>
</div>

