
<div class="topimage w-100 d-flex mb-3">
  <h2 class="toptitle m-auto">MATCH</h2>
</div>
<div class="stats  d-flex  flex-column m-auto mt-5 ">
    <div class="container mt-5 float-left" >
      <div class="d-flex justify-content-between pr-5">
        <h3 class="typo">PLAYABLE</h3>
        <h3 class="typo">45/50</h3>
      </div>
      <div class="d-flex justify-content-between pr-5">
        <h3 class="typo">POTENTIAL POINTS</h3>
        <h3 class="typo">35</h3>
      </div>

    </div>


    <% @matches.each do |match| %>
  <%= match.team_home %>
  <%= match.points_home %>
  <%= image_tag "#{match.team_home_logo_url}", width: 60 %>
  <%= match.team_away  %>
  <%= image_tag "#{match.team_away_logo_url}", width: 60 %>
  <%= match.points_away %>
  <%= match.points_draw %>
  <%= match.country %>
  <%= match.league %>
  <%= match.result %>
  <%= match.kick_off %>
  <h4>Les negatives points:</h4>
  <%= match.negative_points_home %>
  <%= match.negative_points_draw %>
  <%= match.negative_points_away %>
  <br>
<% end %>

  </div>




<%=  render "shared/navbarbottom" %>
