      <div class="topimage w-100 d-flex mb-3">
        <h2 class="toptitle m-auto">MATCH</h2>
      </div>

<div class="d-flex justify-content-center m-3">
      <div class="d-flex justify-content-between mt-2" style="width: 375px;">

          <div>
            <div class=" d-flex">
              <h3 class="typo">Matchs pronostiqués</h3>
              <h3 class="pl-2 typos">45/50</h3>
            </div>
            <div class="d-flex">
              <h3 class="typo">Points potentiels</h3>
              <h3 class="pl-2 typos">35</h3>
            </div>
          </div>
          <svg  xmlns="http://www.w3.org/2000/svg" width="30.963" height="28.39" viewBox="0 0 30.963 28.39"><defs><style>.a{fill:#fbb03b;}</style></defs><g transform="translate(0)"><path class="a" d="M2740.214,264.18l-.1-.1a1.025,1.025,0,0,0-.743-.338h-23.32l-.1-.574a3.2,3.2,0,0,0-3.177-2.7H2710.4a.96.96,0,0,0-.98.98.981.981,0,0,0,.98.98h2.4a1.234,1.234,0,0,1,1.217,1.014l2.029,12.2a.626.626,0,0,0,.067.27l.338,2.1a3.909,3.909,0,0,0,3.819,3.245h15.682a.96.96,0,0,0,.981-.98.981.981,0,0,0-.981-.98h-15.716a1.863,1.863,0,0,1-1.859-1.555l-.2-1.115h18.25a.738.738,0,0,0,.541-.067,1.074,1.074,0,0,0,.507-.642l2.839-10.849A.908.908,0,0,0,2740.214,264.18Zm-2.062,1.588-2.365,8.923h-17.912l-1.454-8.923Z" transform="translate(-2709.424 -260.462)"/><path class="a" d="M2720.272,281.436a3.312,3.312,0,1,0,3.313,3.312A3.317,3.317,0,0,0,2720.272,281.436Zm0,1.995a1.27,1.27,0,0,1,1.284,1.318,1.342,1.342,0,0,1-1.318,1.318,1.318,1.318,0,0,1,.034-2.636Z" transform="translate(-2709.152 -259.704)"/><path class="a" d="M2730.84,281.436a3.329,3.329,0,1,0,3.312,3.346A3.317,3.317,0,0,0,2730.84,281.436Zm-.034,1.995a1.3,1.3,0,0,1,1.318,1.318,1.318,1.318,0,1,1-2.636,0A1.3,1.3,0,0,1,2730.806,283.431Z" transform="translate(-2708.77 -259.704)"/></g></svg>
      </div>
</div>

<div class="d-flex justify-content-center mt-2">
      <div class="info">
        <div class="d-flex justify-content-between flex-row m-3">
          <h3 class="typopo d-flex justify-content-center">DOMICILE</h3>
          <h3 class="typopo d-flex justify-content-center">PRONO</h3>
          <h3 class="typopo d-flex justify-content-center">EXTERIEUR</h3>
        </div>
        <% @matches.each do |match| %>
        <div class="d-flex justify-content-center">
          <h3 class="typopo"><%= match.kick_off %></h3>
        </div>
        <div class="d-flex flex-row justify-content-around mt-3 mb-3">
          <div class="d-flex flex-column align-items-center">
            <h3 class="typopo"><%= image_tag "#{match.team_home_logo_url}", width: 50 %></h3>
            <h3 class="typopo"><%= match.team_home %></h3>
          </div>
        <div class="d-flex flex-row justify-content-around mt-3 mb-3" data-id="<%= match.id %>">
          <div class="d-flex flex-column align-items-center col-4">
            <div class="row">
            <h3 class="typopo"><%= image_tag "#{match.team_home_logo_url}", width: 50 %></h3>
            </div>
            <div class="row text-align-center">
            <h3 class="typopo"><%= match.team_home %></h3>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <p class="typopo text-center">VS</p>
            <div class="d-flex flex-row align-items-center col-4">

                <div class="displaysquares" data-id="<%= match.id %>">
                  <div class="square" data-outcome="1"></div>
                  <div class="square" data-outcome="NULL"></div>
                  <div class="square" data-outcome="2"></div>
                </div>

            </div>
          </div>
          <div class="d-flex flex-column align-items-center text-align-center col-4 ">
            <h3 class="typopo"><%= image_tag "#{match.team_away_logo_url}", width: 50 %></h3>
            <h3 class="typopo"><%= match.team_away  %></h3>
          </div>
        </div>
        <div class="typo d-flex flex-row my-3 justify-content-between mx-5">
          <div>
          <%= match.points_home %> / <%= match.negative_points_home %>
          </div>
          <div>
          <%= match.points_draw %> / <%= match.negative_points_draw %>
          </div>
          <div>
          <%= match.points_away %> / <%= match.negative_points_away %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <svg class="center-block mx-auto mt-5" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>

  </div>
  <br><br><br><br>

          <div class="d-flex flex-column justify-content-center">
            <p class="typopo text-center">VS</p>
            <div class="d-flex justify-content-around align-items-center">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1"></label>
                </div>
                <div class="typo form-check flex-column">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1"></label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1"></label>
                </div>
            </div>
          </div>

          <div class="d-flex flex-column align-items-center">
            <h3 class="typopo"><%= image_tag "#{match.team_away_logo_url}", width: 50 %></h3>
            <h3 class="typopo"><%= match.team_away  %></h3>
          </div>
        </div>
        <div class="typo d-flex justify-content-around flex-row m-3">
          <%= match.points_home %> <p>/</p><%= match.negative_points_home %>
          <%= match.points_draw %> <p>/</p><%= match.negative_points_draw %>
          <%= match.points_away %> <p>/</p><%= match.negative_points_away %>
        </div>
        <% end %>
      </div>
</div>

<%=  render "shared/navbarbottom" %>

