<div class="topimage w-100 d-flex mb-3">
  <h2 class="toptitle m-auto">PROFILE</h2>
</div>

<div class="d-flex flex-wrap ">

  <div class="info  d-flex  flex-column m-auto">
    <div class=" d-flex justify-content-around mt-5" style=" padding: 0 30%;">

      <svg class="logoplayer " width="48.491" height="56.522" viewBox="0 0 48.491 56.522"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M3644.079,301.329V285.165a1.941,1.941,0,0,0-1.415-1.818l-22.225-8.082a1.725,1.725,0,0,0-1.414,0l-22.225,8.082a2.046,2.046,0,0,0-1.212,1.818v16.164c0,16.77,8.89,21.821,21.013,28.892l2.223,1.213a2.634,2.634,0,0,0,2.021,0l2.222-1.213C3635.189,323.149,3644.079,318.1,3644.079,301.329Zm-23.033,25.255-1.213.606V279.305l20.2,7.274v14.75C3640.038,315.673,3632.967,319.714,3621.046,326.584Z" transform="translate(-3595.588 -275.113)"/></svg>
      <div>
        <h3 class="typo">Gambasito</h3>
        <h3 class="typo">19th</h3>
        <h3 class="typo">DIVISION 4</h3>
      </div>
    </div>
    <svg class=" center-block mx-auto mt-5" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
    <div class="container mt-5" style=" padding: 0 30%;"  >
      <div class="d-flex justify-content-between">
        <h3 class="typo">MATCHES</h3>
        <h3 class="typo">680</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo">RATIO</h3>
        <h3 class="typo">54%</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo">POINTS WON</h3>
        <h3 class="typo">935</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo">FOOTBALL POINTS</h3>
        <h3 class="typo">59</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo">BASKETBALL POINTS</h3>
        <h3 class="typo">120</h3>
      </div>
    </div>
    <svg class=" center-block mx-auto mt-5" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>


    <div class=" mt-5 d-flex justify-content-around" style="margin: 0 10%;">

      <div class="d-flex flex-column align-items-center">
        <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" width="25.246" height="25.246" viewBox="0 0 25.246 25.246"><defs><style>.a{fill:#fff;}</style></defs><circle class="a" cx="12.623" cy="12.623" r="12.623"/></svg>
        <h3 class="typo mt-2">PREDICTED<br> &nbsp;&nbsp;MATCHES</h3>
      </div>

      <div class="d-flex flex-column align-items-center" >
        <svg  xmlns="http://www.w3.org/2000/svg" width="26.476" height="25.324" viewBox="0 0 26.476 25.324"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M3841.691,597.844a1.479,1.479,0,0,0-.817-2.525l-6.582-.963a1.479,1.479,0,0,1-1.112-.811l-2.952-5.969a1.479,1.479,0,0,0-2.647,0l-2.951,5.956a1.48,1.48,0,0,1-1.115.808l-6.585.949a1.479,1.479,0,0,0-.821,2.521l4.758,4.633a1.478,1.478,0,0,1,.424,1.323l-1.121,6.568a1.479,1.479,0,0,0,2.144,1.562l5.894-3.091a1.48,1.48,0,0,1,1.376,0l5.886,3.1a1.479,1.479,0,0,0,2.144-1.575l-1.118-6.545a1.483,1.483,0,0,1,.427-1.324Z" transform="translate(-3815.664 -586.757)"/></svg>
        <h3 class="typo mt-2">FAVORITE</h3>
      </div>

      <div class="d-flex flex-column align-items-center">
        <svg  xmlns="http://www.w3.org/2000/svg" width="25.246" height="25.246" viewBox="0 0 25.246 25.246"><defs><style>.a{fill:#fff;}</style></defs><circle class="a" cx="12.623" cy="12.623" r="12.623"/></svg>
        <h3 class="typo mt-2">BOOST</h3>
      </div>
    </div>

  </div>



  <div class="stats  d-flex  flex-column m-auto mt-5">
     <h2 class="stat m-auto ">STATISTIQUES</h2>
    <div class="container mt-5" style=" padding: 0 30%;"  >
      <div class="d-flex justify-content-between">
        <h3 class="typo">TOTAL NUMBER OF PREDICTIONS</h3>
        <h3 class="typo">120</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo">SUCCESS RATE</h3>
        <h3 class="typo">60%</h3>
      </div>

    </div>
    <h3 class="typo float-left pl-5" >RATIO LAST WEEK</h3>

    <svg class=" center-block mx-auto mt-5" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
    <div class="container mt-5" style=" padding: 0 30%;"  >
      <div class="d-flex justify-content-between">
        <h3 class="typo">MATCHES</h3>
        <h3 class="typo">680</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo">RATIO</h3>
        <h3 class="typo">54%</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo">POINTS WON</h3>
        <h3 class="typo">935</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo">FOOTBALL POINTS</h3>
        <h3 class="typo">59</h3>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="typo">BASKETBALL POINTS</h3>
        <h3 class="typo">120</h3>
      </div>
    </div>
    <svg class="center-block mx-auto mt-5" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>

  </div>
  <br><br><br><br>


<% @matches.each do |match| %>
<div data-id="<%= match.id %>" class="my-2">
    <%= match.team_home %>
    <%= match.points_home %>
    <%= image_tag "#{match.team_home_logo_url}", width: 60 %>
    <%= match.points_draw %>
    <%= match.team_away  %>
    <%= image_tag "#{match.team_away_logo_url}", width: 60 %>
    <%= match.points_away %>

    <div class="displaysquares" data-id="<%= match.id %>">
      <div class="square" data-outcome="1"></div>
      <div class="square" data-outcome="NULL"></div>
      <div class="square" data-outcome="2"></div>
    </div>

    <%= match.country %>
    <%= match.league %>
    <%= match.result %>
    <%= match.kick_off %>
    <h4>Les negatives points:</h4>
    <%= match.negative_points_home %>
    <%= match.negative_points_draw %>
    <%= match.negative_points_away %>
  </div>
<% end %>

<%=  render "shared/navbarbottom" %>
