<div class="topimage w-100 d-flex">
        <h2 class="toptitle m-auto">MATCH</h2>
</div>
​
<div class="d-flex justify-content-center">
      <div class="d-flex justify-content-around mb-3" style="width: 375px;">
          <div>
            <div class=" d-flex">
              <h3 class="typo">Matchs pronostiqués</h3>
              <h3 class="pl-2 typos">45/50</h3>
            </div>
            <div class="d-flex">
              <h3 class="typo">Points potentiels</h3>
              <h3 class="pl-2 typos">35</h3>
            </div>
          </div>
          <div id = "panier">
            <button type="button" class="btn btn-outline-light typo">Valider ma sélection</button>
          </div>
      </div>
</div>
<div class="d-flex justify-content-center">
<div class="infobis">
    <div class="filterbar d-flex justify-content-around flex-row">
      <div class="dropdown">
        <button class="btn btn-filter dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FOOTBALL
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-filter dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FRANCE
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-filter dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LIGUE 1
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Ligue 1</a>
          <a class="dropdown-item" href="#">Liga BBVA</a>
          <a class="dropdown-item" href="#">Bundesliga</a>
        </div>
      </div>
        <button type="button" class="btn-ok">OK</button>
    </div>
</div>
</div>
​
<div class="d-flex justify-content-center">
​
      <div class="info">
        <div class="d-flex justify-content-between flex-row m-3">
          <h3 class="typopo d-flex justify-content-center">DOMICILE</h3>
          <h3 class="typopo d-flex justify-content-center">PRONO</h3>
          <h3 class="typopo d-flex justify-content-center">EXTERIEUR</h3>
        </div>
        <input type="hidden" id ="season_player" value="<%= @player %>">
        <% @matches.each do |match| %>
        <div class="d-flex justify-content-center mb-4 mt-4">
          <h3 class="typopo"><%= match.kick_off %></h3>
        </div>
        <div class="d-flex flex-row justify-content-around mb-4 mt-4" data-id="<%= match.id %>">
          <div class="d-flex flex-column align-items-center col-4">
            <div class="row">
            <h3 class="typopo"><%= image_tag "#{match.team_home_logo_url}", width: 50 %></h3>
            </div>
            <div class="row text-align-center">
            <h3 class="typopo"><%= match.team_home %></h3>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <p class="typopo text-center">VS</p>
            <div class="d-flex flex-row align-items-center col-4">
​
                <div class="displaysquares" data-id="<%= match.id %>">
                  <div class="square" data-outcome="1"></div>
                  <div class="square" data-outcome="NULL"></div>
                  <div class="square" data-outcome="2"></div>
                </div>
​
            </div>
          </div>
          <div class="d-flex flex-column align-items-center text-align-center col-4 ">
            <h3 class="typopo"><%= image_tag "#{match.team_away_logo_url}", width: 50 %></h3>
            <h3 class="typopo"><%= match.team_away  %></h3>
          </div>
        </div>
        <div class="prono typo d-flex flex-row my-3 justify-content-between mx-5">
          <div>
          <%= match.points_home %> / <%= match.negative_points_home %>
          </div>
          <div>
          <%= match.points_draw %> / <%= match.negative_points_draw %>
          </div>
          <div>
          <%= match.points_away %> / <%= match.negative_points_away %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
​
    <svg class="center-block mx-auto mt-5" xmlns="http://www.w3.org/2000/svg" width="247.39" height="0.5" viewBox="0 0 247.39 0.5"><defs><style>.a{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><line class="a" x1="247.39" transform="translate(0 0.25)"/></svg>
​
  </div>

​
<%# @matches.each do |match| %>
​
    <%# match.team_home %>
    <%# match.points_home %>
    <%# image_tag "#{match.team_home_logo_url}", width: 60 %>
    <%# match.points_draw %>
    <%# match.team_away  %>
    <%# image_tag "#{match.team_away_logo_url}", width: 60 %>
    <%# match.points_away %>
​
​
      <!-- <div class="square" data-outcome="1"></div>
      <div class="square" data-outcome="NULL"></div>
      <div class="square" data-outcome="2"></div>
    </div> -->
​
    <%# match.country %>
    <%# match.league %>
    <%# match.result %>
    <%# match.kick_off %>
    <!-- <h4>Les negatives points:</h4>
    <%# match.negative_points_home %>
    <%# match.negative_points_draw %>
    <%# match.negative_points_away %>
  </div>
<# end %> -->

<%=  render "shared/navbarbottom" %>

