<%= simple_form_for [ @m, @forecast ] do |f| %>

  <div>
  <%= f.check_box :outcome, { checked: true }, '1', '' %>
  <%= f.check_box :outcome, { checked: true }, 'NULL', '' %>
  <%= f.check_box :outcome, { checked: true }, '2', '' %>


  <%= f.submit %>
  </div>

  <!-- Trouver un moyen de faire 3 checkbox, un choix uniquement,
    chaque checkbox a une valeur qui sera attribuée à l'outcome.
    L'outcome sera ensuite comparé au result du tableau Matches.-->

<% end %>


