<h2> <span>Faire un pari</span></h2>

<%= @m.team_home %>
<%= @m.points_home %>
<%= image_tag "#{@m.team_home_logo_url}", width: 60 %>
<%= @m.team_away  %>
<%= image_tag "#{@m.team_away_logo_url}", width: 60 %>

<%= render "form" %>

