<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>STORPE - Ton Championnat gratuit de pronostics sportifs.</title>
    <meta name="description" content="Tu pronostiques sur des matchs de Football et NBA. Selon ton classement tu montes en division supérieure. Tout un panel de statistiques t'attendent pour analyser tes performances de pronostiqueur.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="KuFMLwbPn1_e0LJ6fzX4TNG998rUCo1pqr4JnbDqVaA" />
    <!-- Balise open graph Facebook -->
      <meta property="og:url" content="https://storpe.club/" />
      <meta property="og:title" content="STORPE - Le championnat de pronostics sportifs" />
      <meta property="og:description" content="Tu aimes les pronostics sportifs ? Rejoins STORPE ! C'est gratuit, tu pronostiques sur des rencontres de Football et NBA. Les mieux classés montent en division supérieure. Le p'tit plus on offre tout un panel de statistiques pour analyser tes performances de pronostiqueur." />
      <meta property="og:image" content="https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_786/v1602669620/TWITTER_COVER-12_pnejy2.jpg" />
      <meta property="og:site_name" content="STORPE">
    <!-- Balise Twitter card -->
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="https://storpe.club/" />
      <meta name="twitter:title" content="STORPE - Le championnat de pronostics sportifs" />
      <meta name="twitter:description" content="Tu aimes les pronostics sportifs ? Rejoins STORPE ! C'est gratuit, tu pronostiques sur des rencontres de Football et NBA. Les mieux classés montent en division supérieure. Le p'tit plus on offre tout un panel de statistiques pour analyser tes performances de pronostiqueur." />
      <meta name="twitter:image" content="https://res.cloudinary.com/dhu7op4vc/image/upload/c_scale,w_474/v1602669620/TWITTER_COVER-12_pnejy2.jpg" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177219463-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-177219463-1');

      gtag('config', 'UA-177219463-1', {
      'linker': {
        'domains': ['storpe.com', 'storpe.club']
      }
    });
    </script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '645667782813319');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=645667782813319&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>

  <body>

    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
